body {
	background: rgb(155, 151, 156);
	
	color: #4C2360;
}

div {
	/*background: #4C2360;*/
	background: #D2C2A6;
}

h1, h2, h3, h4, h5, h6{
	color: #CA1E37;
}

#main {
	
}

#nav {
	
}


#recent-projects {
	
}

#recent-projects .project {
	
}

#recent-projects .project a {
	text-decoration: none;
}

#recent-projects .project a:hover {
	color: #FFFFFF;
}

#recent-projects .project a:link {
	color: #000000;
}

#recent-projects .project a:visited {
	color: #0000FF;
}


#blog {
	
}

#blog .post {
	
}

#blog .post .date {
	
}