body {
	background: rgb(155, 151, 156);
	
	color: #4C2360;
}

div {
	/*background: #4C2360;*/
	background: #D2C2A6;
}

h1, h2, h3, h4, h5, h6{
	color: #CA1E37;
}

#main {
	
}

#top {
	float: left;
}

#recent-projects {
	float: left;
}

#recent-projects .project {
	
}

#recent-projects .project a {
	text-decoration: none;
}

#recent-projects .project a:link {
	color: #000000;
}

#recent-projects .project a:visited {
	color: #0000FF;
}

#recent-projects .project a:hover {
	color: #FFFFFF;
}


#about {
	float: left;
}

#about a {
	text-decoration: none;
	
	
}


#blog {
	
}

#blog .post {
	
}

#blog .post .date {
	
}


/* for 980px or less */
@media screen and (max-width: 980px) {
	
	/*#pagewrap {
		width: 94%;
	}
	#content {
		width: 65%;
	}
	#sidebar {
		width: 30%;
	}*/

}

/* for 700px or less */
@media screen and (max-width: 700px) {

	/*#content {
		width: auto;
		float: none;
	}
	#sidebar {
		width: auto;
		float: none;
	}*/

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	/*#header {
		height: auto;
	}
	h1 {
		font-size: 24px;
	}
	#sidebar {
		display: none;
	}*/

}
