<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{ page.title }}</title>
		<!-- <link rel="icon" href="#" /> -->
		
		<link href="css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="recent-projects">
			{% for post in site.categories.project limit: 3 %}
			<div class="project">
				<span class="date">{{ post.date | date: "%b %d, %Y" }}</span>
				<h1><a href="{{ post.url }}">{{ post.description }}</a></h1>
				<div>
					{{ post.content }}
				</div>
			</div>
			{% endfor %}
			
			<div>
				<a href="portfolio.html">Full Portfolio</a>
				<a href="resume.html">Resume</a>
			</div>
		</div>
		
		<div id="about">
			<div>
				<img src="https://secure.gravatar.com/avatar/272d3f505885bebed898d537aaeb0c70?s=100">
				<span class="name">
					RavensKrag
				</span>
			</div>
			<div>
				<span class="description">
					Programmer, Game Designer, and Writer
				</span>
				<a href="about.html">more</a>				
			</div>
		</div>
		
		<div id="blog">
			{% for post in site.categories.blog limit: 5 %}
			<div class="post">
				<span class="date">{{ post.date | date: "%b %d, %Y" }}</span>
				<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
				<div>
					{{ post.content }}
				</div>
			</div>
			{% endfor %}
		</div>
	</body>
</html>
