<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{ page.title }}</title>
		<!-- <link rel="icon" href="#" /> -->
		
		<link href="css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="nav">
			<span class="header">
				
			</span>
			<ul class="links">
				<li class="link">
					Home
				</li>
				<li class="link">
					Portfolio
				</li>
				<li class="link">
					About
				</li>
				<li class="link">
					<a href="resume.html">Resume</a>
				</li>
			</ul>
		</div>
		<div id="main">
			{{ content }}
		</div>
		
		<div id="blog">
			{% for post in site.posts limit: 5 %}
			<div class="post">
				<span class="date">{{ post.date | date: "%b %d, %Y" }}</span>
				<h1>{{ post.title }}</h1>
				<div>
					{{ post.content }}
				</div>
			</div>
			{% endfor %}
		</div>
	</body>
</html>
