<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{ page.title }}</title>
		<!-- <link rel="icon" href="#" /> -->
		
		<link href="style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		{% for post in site.categories.project %}
		<div class="project">
			<span class="date">{{ post.date | date: "%b %d, %Y" }}</span>
			<h1><a href="{{ post.url }}">{{ post.description }}</a></h1>
			<div>
				{{ post.content }}
			</div>
		</div>
		{% endfor %}
	</body>
</html>
